@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f7f8;
  max-width: 3456px;
  margin: 0 auto;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
